# Docker buld and Publish 

name: Docker Image Create and Publish

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check Out Repo 
      uses: actions/checkout@v2

    - name: Docker Image Update Checker
      id: baseupdatecheck
      uses: lucacome/docker-image-update-checker@v1.1.0
      with:
        base-image: ghcr.io/linuxserver/baseimage-alpine
        image: ghcr.io/linuxserver/homeassistant

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      if: steps.baseupdatecheck.outputs.needs-updating == 'true'
    
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      if: steps.baseupdatecheck.outputs.needs-updating == 'true'

    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/homeassistant:latest
      if: steps.baseupdatecheck.outputs.needs-updating == 'true'

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
      if: steps.baseupdatecheck.outputs.needs-updating == 'true'
